
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
}

/* BARRA NAVEGACAO */
.barra-navegacao {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #462755;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.barra-navegacao__logotipo {
  max-height: 70%;
  max-width: 70%;
}


